<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <title>Boolflix</title>
</head>
<body>
    <div id="app">
        <header>
            <div class="logo" @click="refreshPage">
                <img src="img/boolflix.png" alt="Logo Boolflix">
            </div>
            <div class="search_bar">
                <button class="search" @click="searchMovie"><i class="fas fa-search"></i></button>
                <input type="text" v-model="searchText" @keyup.enter="searchMovie">
            </div>
        </header>
        <div class="container">
            <div class="movie" v-for="movie in allTvMovies">
                <div class="poster">
                    <img :src="printPoster(movie)" :alt="isMovie(movie) ? movie.title : movie.name">
                </div>
                <div class="text">
                    <div class="title">
                        <span>Titolo:</span>{{isMovie(movie) ? movie.title : movie.name}}
                    </div>
                    <div class="original_title" v-if="!sameTitle(movie)">
                        <span>Titolo originale:</span>{{isMovie(movie) ? movie.original_title : movie.original_name}}
                    </div>
                    <div class="tipology">
                        <span>Tipologia:</span>{{tipology(movie)}}
                    </div>
                    <div class="language">
                        <span>Lingua originale:</span><img :src="printFlag(movie)" :alt="movie.original_language">
                    </div>
                    <div class="vote">
                        <span>Valutazione:</span>
                        <i v-for="star in printStars(movie.vote_average)" class="fas fa-star"></i>
                        <i v-for="star in (5 - printStars(movie.vote_average))"class="far fa-star"></i>
                    </div>
                    <div class="overview" v-if="ifOverview(movie)">
                        <span>Panoramica:</span>{{movie.overview}}
                    </div>
                </div>
            </div>
            <div class="nothing_found" v-if="(allTvMovies.length == 0 && search)">
                Nessun elemento trovato
            </div>
            <div class="logo_big" v-if="allTvMovies.length == 0">
                <img src="img/boolflixBig.png" alt="Logo Boolflix">
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>